{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="mt-4 mb-4 text-center">Historique des commandes</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group">
                {% for order in orders %}
                <li class="list-group-item mb-4 shadow-sm">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="mb-0">Commande {{ order.reference }}</h5>
                            <small class="text-muted">Date de commande: {{ order.createdAt|date('Y-m-d H:i:s') }}</small>
                        </div>

                    </div>
                    <ul class="list-group mt-2">
                        {% for orderDetail in orderDetails[order.id] %}
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h6 class="mb-0">{{ orderDetail.livres.titre }}</h6>
                                    <small class="text-muted">{{ orderDetail.quantity }} x {{ orderDetail.price }} TND</small>
                                </div>
                                <span>{{ orderDetail.quantity * orderDetail.price }} TND</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
