{% extends 'base.html.twig' %}

{% block title %}Rechercher un Livre{% endblock %}

{% block body %}
    <h1>Rechercher un Livre</h1>
    {{ form_start(chercher) }}
    {{ form_row(chercher.titre) }}
    {{ form_row(chercher.auteur) }}
    {{ form_row(chercher.categorie) }}
    <button type="submit">Rechercher</button>
    {{ form_end(chercher) }}
    <h1>Liste des Livres</h1>
<table class="table">
    <tr>
        <th>Titre</th>
        <th>ISBN</th>
        <th>Editeur</th>
        <th>Auteur</th>
        <th>Date Edition</th>
        <th>Prix</th>
        <th>catégorie</th>
        <th colspan="3">Action</th>
    </tr>
    {% for livre in livres %}
        <tr>
            <td>{{ livre.titre }}</td>
            <td>{{ livre.ISBN }}</td>
            <td>{{ livre.editeur }}</td>
            <td>{{ livre.auteur }}</td>
            <td>{{ livre.dateEdition | date('d-m-y') }}</td>
            <td>{{ livre.prix }}</td>
            <td>{{ livre.categorie.libelle }}</td>
            <td><a href="{{ path('app_admin_livres_show', {'id': livre.id}) }}" class="btn btn-primary btn-sm">voir détail</a></td>
            <td><a href="{{ path('panier_add', {'id': livre.id}) }}" class="btn btn-success btn-sm">ajouter au panier</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}