{% extends 'base.html.twig' %}

{% block title %}Users!{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
   <table class="table">
    <tr>
        <th>email</th>
        <th>role</th>
        <th>vérifier?</th>
        <th colspan="3">Action</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>
                {% for role in user.roles %}
                    {{ role }}
                {% endfor %}
            </td>
            <td>{{ user.isVerified ?  'Oui' : 'Non'}}</td>
            <td><a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-primary btn-sm">Voir plus <span uk-icon="icon:  info"></span></a></td>
            <td>
                <form action="{{ path('app_user_delete', {'id': user.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?');">
                    <button type="submit" class="btn btn-danger btn-sm">Supprimer <span uk-icon="icon:  trash"></span></button>
                </form>
            </td>
            <td><a href="{{ path('app_user_update', {'id': user.id}) }}" class="btn btn-success btn-sm">Editer <span uk-icon="icon: pencil"></span></a></td>
        </tr>
    {% endfor %}
</table>
   
{% endblock %}
